body {
	background-color: white;
}

#form1 {
	background-color: white;
	margin-top: 6%;
	border: 1px inset silver;
	display: flex;
	direction: column;
	height: 410px;
	justify-content: space-between;
	flex-wrap: wrap;
}

#size {
	font-size: 18px;
}